body{
    font-family: 'Licorice', cursive;
font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
}
.kazi-color{
    color: indianred;
}
.link-color{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width image{
    width: 80%;
}